

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 550px; height: 550px;
        }
        .silex-id-1691396681967-0 {top: 260px; left: 120px; height: 64px; width: 64px;
        }
        .silex-id-1691396687332-1 {top: 380px; left: 200px; height: 64px; width: 64px;
        }
        .silex-id-1691396695584-2 {top: 40px; left: 40px; height: 90px; width: 360px;
        }
    